<h2>Products</h2>

<div *ngFor="let product of products">
  <hr>
  <h3>
    <!-- Property binding [ ] syntax in the title -->
    <a href="#" [title]="product.name + ' details'">{{product.name}}</a>
  </h3>
  <!-- Directive *ngIf and the interpolation syntax {{ }} -->
  <p *ngIf="product.description">{{product.description}}</p>
  <p>
    
    <!-- Event binding uses a set of parentheses, ( ), around the event -->
    <button (click)="share(product.name)">
    Share product
    </button>

    <app-product-alerts 
      [product]="product"
      (notify)="onNotify(name)">

    </app-product-alerts>
  </p>
</div>

<div>
  <p>
    The app now has a product list and sharing feature. In the process, you've learned to use five common features of Angular's template syntax:
  </p>
  <ul>
    <li>ngFor</li>
    <li>ngIf</li>
    <li>Interpolation <code>{{ a }}</code></li>
    <li>Property binding [ ]</li>
    <li>Event binding ( )</li>
  </ul>  
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->